body {background-image: url(Picture/Benny-bates.jpg);
Background-repeat: no repeat;
background-attachment: fixed;
Background-size: cover;}
h1 {color: white}
aside {
    align-items: center;
    color: white;}
section {color: white}
Footer {color: white}
main {color: white}
nav {color: white}

a:link, a:visited {
color: white;
padding: 10px 20px;
text-decoration: none; }

div.container {
    display: flex;
    justify-content: center;
    background-color: rgb(255,255,255,.2);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

ol {margin-left: auto;
margin-right: auto;}